<div class="wrap">
  <form method="POST">
    <div class="search">
      <input name="search" id="search" type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
</div>

<img class="home-pic" src="/images/jesus-img.jpg" alt="">

<div class="container">
  <div class="best-average row">
    {{#each temples}}
    <div class="card col mx-md-1">
      <img src="{{this.image}}" class="card-img-top" alt="{{this.name}} image">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">
          <p>{{this.description}}</p>
          <a href="/{{this._id}}" class="btn btn-primary">Go this church</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>