<div class="wrap">
  <form method="POST" action="/temple/search">
    <div class="search">
      <input name="search" id="search" type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
</div>

<img class="home-pic" src="/images/jesus-img.jpg" alt="">

<div class="container">
  <div class="best-average row">
    {{#each reviews}}
    <div class="card col mx-md-1">
      <img src="{{this.temple.image}}" class="card-img-top" alt="{{this.temple.name}} image">
      <div class="card-body">
        <h5 class="card-title">{{this.temple.name}}</h5>
        <p class="card-text"></p>
        <p>{{temple.description}}</p>
        <h5 class="card-title">{{this.rates.average}} points</h5>
        <div style="height: 25px; width: 125px; background-image: url('./images/sacred-host-back.svg');">
          <div id="hosts" style="height: 100%; background-image: url('./images/sacred-host.svg');"
            data-rate="{{this.rates.average}}">
          </div>
        </div>
      </div>
      <a href="/temple/{{this.temple._id}}" class="btn btn-primary">Go this church</a>
    </div>
    {{/each}}
  </div>
</div>

<div id="map"></div>