<div class="container">
  <div id="templeHeader" style='background-image: url("{{temple.image}}");'>
    <div class="darkLayer">
      <div id="infoTemple" class="col-lg-7">
        <h1 class="mb-0">{{temple.name}}</h1>
        <div class="rate-block">
          <h4 class="d-inline-block mr-1">{{averageTempleRate}}</h4>
          <div class="rate-wrap d-inline-block align-baseline mt-3">
            <div class="rate" data-rate="{{averageTempleRate}}"></div>
          </div>
        </div>
        <p><i class="fas fa-map-marker-alt"></i> {{temple.address.streetAddress}} - {{temple.address.postalCode}} -
          {{temple.address.locality}}</p>
        <p>{{temple.description}}</p>
      </div>
      {{#if user}}
      <button id="btn-favorite"
        class="btn btn-light btn-sm float-right mt-2 mr-2 {{#if savedFavorite}}saved-favorite{{/if}}"
        onclick="markFavorite()" data-temple-id='{{temple.id}}'><i
          class="far fa-heart mr-2"></i><span>Guardar</span></button>
      {{/if}}
    </div>
  </div>

  <div id="reviews-box" class="col-lg-6 my-2">
    <div class="py-4">
      <h4 class="d-inline">Opiniones ({{reviews.length}})</h4>
      {{#if user}}
      <button class="new-review-button btn btn-dark float-right"><i class="fas fa-pencil-alt mr-2"></i>Escribe
        una opinión</button>
      {{/if}}
    </div>
    {{#each reviews}}
    {{> review}}
    {{/each}}
  </div>
</div>