<p>{{user.username}}</p>
<div class="horizontal">
    <form action="/user/edit/{{user.id}}" method="POST">
        <input type="hidden" name="id" class="text" value="{{user.id}}">
        <input type="submit" class="btn btn-danger" style="margin-right: 10px;" value="Edit">

    </form>
    <form action="/user/delete/{{user.id}}" method="POST">
        <input type="hidden" name="id" class="text" value="{{user.id}}">
        <input type="submit" class="btn btn-danger" value="Delete User">
    </form>
</div>
<div style="margin-top: 1.5rem;">
    <a class="btn btn-secondary" href="/" role="button">Home</a>
    <a class="btn btn-secondary" href="/user/new" role="button">Add New User</a>
</div>